.row.text_center
  .span1.label
    Action
  .span2.label
    Thumb
  .span4.label
    Name
  .span4.label
    Tags

- @cheatsheets.each do |cs|
  .row.text_center
    .span1.list_item.text_center
      = link_to "Del" , cheatsheet_path(cs) , :method => :delete , :class => "label important"
      %span.label.warning
        = cs.selected_cheatsheets.count.to_s
    .span2.thumb_list
      = link_to(image_tag(cs.image.small.url , :class => 'thumbmail'), cs.image.url , :target => '_new')
    .span4.list_item
      = cs.name
    .span4.list_item
      - cs.tags.each do |tag|
        = link_to tag , cheatsheets_path(:tag => tag), :class => "label warning"

