!!! 5
%html
  %head
    %title AllCheatsheets
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{:style => 'padding-top: 60px;'}
    = render 'layouts/header'
    .container
      .content
        = yield :sidebar
        .span12
          = yield
      .row.span16.text_center#footer
        %p= "Copyright © #{Time.now.year}   All Cheatsheets Inc."
        %p
          = "Powered by "
          = link_to(image_tag("yeti_logo.png"), "http://www.yeti-media.com", :target => '_new')
          = render :partial =>  "layouts/google_analytics"

